aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.9.1+computecanada
aiosignal==1.3.2+computecanada
async_timeout==4.0.3+computecanada
attrs==25.1.0+computecanada
certifi==2025.1.31+computecanada
charset_normalizer==3.4.1+computecanada
filelock==3.17.0+computecanada
frozenlist==1.5.0+computecanada
fsspec==2025.2.0+computecanada
idna==3.10+computecanada
jinja2==3.1.5+computecanada
joblib==1.4.2+computecanada
lightning_utilities==0.12.0+computecanada
MarkupSafe==2.1.5+computecanada
mpmath==1.3.0+computecanada
multidict==6.1.0+computecanada
networkx==3.2.1+computecanada
numpy==1.25.2+computecanada
opt_einsum==3.4.0+computecanada
packaging==24.2+computecanada
pandas==2.1.1+computecanada
Pillow==10.1.0+computecanada
Pillow_SIMD==9.0.0.post1+computecanada
protobuf==4.23.4+computecanada
psutil==6.1.1+computecanada
pyparsing==3.2.1+computecanada
python_dateutil==2.9.0.post0+computecanada
pytorch_lightning==2.3.3+computecanada
pytz==2025.1+computecanada
PyYAML==6.0.1+computecanada
rdkit==2022.3.5+computecanada
requests==2.32.3+computecanada
scikit_learn==1.3.0+computecanada
scipy==1.11.2+computecanada
six==1.17.0+computecanada
sympy==1.13.3+computecanada
tensorboardX==2.6.2.2+computecanada
threadpoolctl==3.5.0+computecanada
torch==2.3.0+computecanada
torch_cluster==1.6.3+torch23.computecanada
torch_geometric==2.6.1+computecanada
torch_scatter==2.1.2+torch23.computecanada
torch_sparse==0.6.18+torch23.computecanada
torch_spline_conv==1.2.2+torch23.computecanada
torchaudio==2.3.0+computecanada
torchmetrics==1.6.1+computecanada
torchvision==0.18.0+computecanada
tqdm==4.67.1+computecanada
triton==2.3.0+computecanada
typing_extensions==4.12.2+computecanada
tzdata==2025.1+computecanada
urllib3==2.3.0+computecanada
yacs==0.1.8+computecanada
yarl==1.9.3+computecanada
